<!-- Vadym -->
<footer class="position">
  <hr class="line_footer" />
  <div class="container footer_container">
    <div class="container_logo_and_title">
      <ul class="footer_logo_and_title">
        <li class="icon_settings">
          <a href="./index.html">
            <svg class="icon_footer_yacht" width="23" height="23">
              <use href="./images/icons.svg#icon-boat-logo"></use>
            </svg>
          </a>
        </li>
        <li class="text_main_footer">
          <a href="./index.html">
            <p>YACHT ADVENTURES</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="container_menu_footer">
      <ul class="menu_footer">
        <li class="text_main_footer">
          <a href="#about">ABOUT</a>
        </li>
        <li class="text_main_footer">
          <a href="#yahts">YACHTS</a>
        </li>
        <li class="text_main_footer">
          <a href="#review">REVIEWS</a>
        </li>
      </ul>
    </div>
    <div class="social_footer">
      <p class="social_footer_text">WE IN SOCIAL</p>
      <ul class="social_icons">
        <li class="ramka">
          <a href="#" class="social_media_link">
            <svg width="8" height="16">
              <use href="./images/icons.svg#icon-Vector"></use>
            </svg>
          </a>
        </li>

        <li class="ramka">
          <a href="#" class="social_media_link">
            <svg class="" width="18" height="18">
              <use href="./images/icons.svg#icon-insta"></use>
            </svg>
          </a>
        </li>

        <li class="ramka">
          <a href="#" class="social_media_link">
            <svg width="22" height="22" class="">
              <use href="./images/icons.svg#icon-youtube1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container_vnizu_stranici">
    <ul>
      <li class="spisok_vnizu_stranici">
        <p class="tekst_vnizu_stranici">2023. Yacht Adventures</p>
        <p class="tekst_vnizu_stranici">Privacy Policy</p>
      </li>
    </ul>
  </div>
</footer>
