<!-- Marta Bahrynivska -->

<section class="section hero-section">
  <div class="container hero-container">
      <div class="hero-text-block">
        <p class="hero-text-title">
          Explore the High Seas with 
          <span class="hero-title-color">Our Luxury Yacht</span>  
          Rentals
        </p>
        <p class="hero-text-desc">
          Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
        </p>
        <ul class="hero-btn-block list">
          <li class="hero-btn"><button type="button" class="button hero-btn-start">Get Started</button></li>
          <li class="hero-btn"><button type="button" class="button hero-btn-explore">Explore</button></li>
        </ul>
      </div>
      <div class="hero-image-block">
        <div class="hero-clients-block">
          <ul class="hero-clients-list">
            <li class="hero-first-person hero-person">
              <img class="first-person persone-img" src="./img/hero-images/desktop-first-man@1x-min.png"
                  alt="First client middle-aged man" />
            </li>
            <li class="hero-second-person hero-person">
              <img class="second-person persone-img" src="./img/hero-images/desktop-second-person@1x-min.png" alt="Second client middle-aged woman" />
            </li>
            <li class="hero-third-person hero-person">
              <img class="third-person persone-img" src="./img/hero-images/desktop-third-person@1x-min.png"
            alt="Third client middle-aged man" />
            </li>
          </ul>
          <p class="hero-clients-text">Our Clients</p>
        </div>
        <div class="hero-man-block">
          <img class="man-sunglasses" src="./img/hero-images/desktop-man@1x-min.png"
          alt="Man wearing sunglasses and striped shirt" />
        </div>
        <div class="hero-yacht-block">
          <img class="hero-yacht" src="./img/hero-images/desktop-yacht@1x-min.png"
          alt="Modern comfortable fancy-looking yacht" />
        </div>
        <div class="hero-price-block">
          <p class="hero-price-num">$12M</p>
          <p class="hero-price-desc">Book now and make your dream yacht rental a reality</p>
        </div>
      </div>
  </div>
</section>
