<!-- Надія Павлюченко -->

<section id="rent-section" class="rent">
  <div class="container rent-container">
    <div class="rent-description">
      <h2 class="rent-title">Rent a yacht now</h2>
      <picture class="rent-image">
        <source
          srcset="
            ./img/rent/yaht_desktop_1x.png 1x,
            ./img/rent/yaht_desktop_2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/rent/yaht_tablet_1x.png 1x,
            ./img/rent/yaht_tablet_2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/rent/yaht_mobile_1x.png 1x,
            ./img/rent/yaht_mobile_2x.png 2x
          "
          media="(min-width: 375px)"
          type="image/png"
        />
        <img
          class="img-yaht"
          src="./img/rent/yaht_desktop_1x.png"
          alt="sailing yaht"
        />
      </picture>
    </div>
    <div class="form-container">
      <form class="rent-form" name="rent_form" autocomplete="off">
        <label class="form-label">
          <span class="label-text">Full Name</span>
          <input
            type="text"
            class="form-input rent-input"
            name="user_name"
            id="user_name"
            pattern="^[A-Z][a-z]+$"
            required
          />
        </label>
        <label class="form-label">
          <span class="label-text">Email</span>
          <input
            type="email"
            class="form-input rent-input"
            name="user_email"
            id="user_email"
            pattern="^[^@]+@([^@\.]+\.)+[^@\.]+$"
            required
          />
        </label>
        <label class="form-label">
          <span class="label-text">Phone number</span>
          <input
            type="tel"
            class="form-input rent-input"
            name="user_tel"
            id="user_tel"
            pattern="^(?:\+?38)?0\d{9}$"
            required
          />
        </label>
        <label class="form-textarea-label">
          <span class="label-text">Comment</span>
          <textarea
            class="rent-input form-textarea"
            rows="4"
            name="user_comment"
            id="user_comment"
          >
          </textarea>
        </label>
        <button
          type="submit"
          class="form-btn js-open-modal"
          id="button-open"
          data-modal="1"
        >
          Send
          <svg class="form-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-arrow1"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
<div class="modal" data-modal="1">
  <button type="button" class="modal-close js-modal-close">
    <svg class="close-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <picture class="modal-image">
    <source
      srcset="
        ./img/rent/modal_yaht_desk-tab_1x.png 1x,
        ./img/rent/modal_yaht_desk-tab_2x.png 2x
      "
      media="(min-width: 768px)"
      type="image/png"
    />
    <source
      srcset="
        ./img/rent/modal_yaht_mobile_1x.png 1x,
        ./img/rent/modal_yaht_mobile_2x.png 2x
      "
      media="(min-width: 375px)"
      type="image/png"
    />
    <img
      class="modal-yaht"
      src="./img/rent/modal_yaht_desk-tab_1x.png"
      alt="yaht"
    />
  </picture>
  <p class="modal-caption">Thank you</p>
  <p class="modal-text">
    Thank you for choosing Yacht Adventures, your booking details have been
    received and our team will be in touch shortly to confirm your reservation
    and provide any additional information or assistance you may need.
  </p>
</div>
<div class="backdrop js-backdrop-modal"></div>
