/* Marta Bahrynivska */

/* Mobile */
.hero-section {
    background-color: var(--dark-blue);
    padding-bottom: 80px;
}

/* Tablet */
  @media only screen and (min-width: 768px) {
    .hero-section {
    padding-bottom: 100px;
    }
  }

/* Desktop */
@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 164px;
  }
}

/* Mobile */
@media only screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}


.hero-blur{
    transform: rotate(-45.074deg);
    flex-shrink: 0;
    filter: blur(100px);
    z-index: 0;
    position: absolute;
    

}

.hero-blur-one{
    width: 414px;
    height: 414px;
    border-radius: 414px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    bottom: 52px;
    right: 1120px;
}

.hero-blur-two{
    width: 414px;
    height: 414px;
    border-radius: 414px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    bottom: 3px;
    left: 1px;
}

.hero-blur-three{
    width: 316px;
    height: 316px;
    border-radius: 316px;
    opacity: 0.30000001192092896;
    background: #A6A9B2;
    bottom: 130px;
    left: 250px;
}


/* .hero-blur{
    width: 279px;
    height: 279px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 279px;
    opacity: 0.8999999761581421;
    background: #939CAC;
    filter: blur(100px);
    position: absolute;
    bottom: 112px;
    right: 183px;
    z-index:0;
}

@media only screen and (min-width: 768px) {
  .hero-blur {
    width: 414px;
    height: 414px;
    transform: rotate(-45.074deg);
    border-radius: 414px;
    bottom: 52px;
    right: 1120px;
  }
} */

.images-title-container{
    display: flex;
    flex-direction: column-reverse;
    /* gap: 40px; */
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .images-title-container {
    display: flex;
    flex-direction: column-reverse;
    /* gap: 64px; */
  }
}

/* Desktop */

@media only screen and (min-width: 1280px) {
  .images-title-container {
    display: flex;
    flex-direction: row;
    gap: 236px;
  }
}


@media only screen and (min-width: 768px) {
  .hero-images {
    padding-top: 32px;
  }
}


.hero-clients-images-list{
    background-image: url(/img/hero-images/desktop-background@2x-min.png);
    background-repeat: no-repeat;
    margin-top: 40px;
    width: 426px;
    height: 598px;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
  .hero-clients-images-list {
    width: 335px;
    height: 471px;
  }
}


.clients-container{
    display: flex;
    position: relative;
    margin-bottom: 11px;
}



.first-person {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.second-person {
    position: absolute;
    top: 0px;
    left: 45px;
    z-index: 2;
}

.third-person{
    position: absolute;
    top: 0px;
    left: 92px;
    z-index: 1;
}

@media only screen and (max-width: 767px) {

    .first-person,
    .second-person,
    .third-person {
        width: 48px;
        height: 48px;
    }

    .second-person {
        left: 35px;
    }
    .third-person{
        left: 70px;
    }
}

.hero-clients-images-list{
    padding-top: 24px;
    padding-left: 24px;
}

@media only screen and (min-width: 768px) {
  .hero-clients-images-list {
    padding-top: 32px;
    padding-left: 32px;
  }
}

.clients-text{
    position: relative;
    top: 60px;
    text-transform: uppercase;
    color: #11131F;
    font-size: 14px;
    font-weight: 700;
    line-height: 110%;
        /* 15.4px */
    letter-spacing: 0.56px;
}

@media only screen and (max-width: 767px) {
  .clients-text {
    top: 45px;
  }
}

.hero-yacht{
    position: relative;
    bottom: 40px;
    right: 15px;
}

@media only screen and (max-width: 767px) {
  .hero-yacht {
    width: 287px;
    height: 167px;
    bottom: 5px;
  }
}

.hero-image-text{
    display: flex;
    flex-wrap:nowrap;
    gap: 12px;
    align-items: center;
    position:relative;
    bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .hero-image-text {
    gap: 14px;
    top: 15px;
  }
}

.man-sunglasses{
        position: relative;
        /* border-left: hidden; */
        left: 265px;
}

@media only screen and (max-width: 767px) {
  .man-sunglasses {
    width: 133px;
    height: 133px;
    left: 195px;
  }
}

.dollar-text{
    color: #11131F;
    font-size: 60px;
    line-height: 110%;
        /* 66px */
    letter-spacing: -2.7px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .dollar-text {
    font-size: 48px;
    letter-spacing: -2.16px;
    line-height: 110%;
        /* 52.8px */
  }
}

.book-now-text{
    width: 208px;
    height: 36px;
    color: #11131F;
    font-size: 18px;
    line-height: 110%;
        /* 19.8px */
    letter-spacing: -0.81px;
}

@media only screen and (max-width: 767px) {
  .book-now-text {
    font-size: 14px;
    line-height: 140%;
        /* 19.6px */
    letter-spacing: -0.63px;
    width: 169px;
  }
}


.hero-title {
    color: var(--white);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 14px;
    padding-top: 40px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-title{
    padding-top: 64px;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 16px;
  }
  }

/* Desktop */
@media only screen and (min-width: 1280px) {
  .hero-title {
    padding-top: 132px;
  }
}


.hero-accent{
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: DM Sans;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -2.7px;
        background-color: #BEC7C2;
}

@media only screen and (min-width: 768px) {
  .hero-accent {
    font-style: italic;
    font-size: 60px;
  }
}

.hero-text {
    color: var(--white);
    line-height: 140%;
    /* 22.4px */
    margin-bottom: 24px;
}

/* Talet,desktop */
.hero-text{
    font-size: 16px;
    margin-bottom: 32px;
    /* max-width: 539px; */
}


/* 
.text-button{
    width: 335px;
} */

/* .hero-title-container{
    width: 332px;
} */

/* .hero-text-container{
    width: 332px;
} */

/* Tablet */
@media only screen and (min-width: 768px) {
  .text-button {
    width: 704px;
    width: 110%;
  }
  /* .hero-title-container{
    width: 698px;
  } */
  .hero-text-container{
    width: 539px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .text-button {
    width: 554px;
  }
  .hero-title-container {
      width: 554px;
  }

  .hero-text-container {
      width: 539px;
  }
}



.button-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

@media only screen and (min-width: 768px) {
  .button-container {
    gap: 11px;
  }
}


.start-button {
    display: block;
    min-width: 150px;
    height: 48px;
    padding: 14px 28px;
    border: none;
    border-radius: 60px;
    background-color: var(--light-green);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
        /* 19.8px */
    letter-spacing: -0.81px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button:focus,
.start-button:hover{
    background-color: #88B3B9;
}

.explore-button {
    display: block;
    min-width: 117px;
    height: 48px;
    padding: 14px 28px;
    border-radius: 60px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
        /* 19.8px */
    letter-spacing: -0.81px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-button:focus,
.explore-button:hover{
    color: var(--light-green);
}