
.hero-section {

}

.hero-container {
  padding-top: 40px;
}
.hero-text-block {
  max-width: 332px;
}



.hero-text-title {
  color: var(--white, #F6F5EF);
font-size: 36px;
font-weight: 500;
line-height: 1.1;
letter-spacing: -1.62px;
}
.hero-title-color {
  background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 36px;
font-weight: 500;
line-height: 1.1;
letter-spacing: -1.62px;
}
.hero-text-desc {
  margin-top: 14px;
  color: var(--white, #F6F5EF);
font-size: 14px;
font-weight: 400;
line-height: 1.4;
letter-spacing: -0.28px;
}
.hero-btn-block {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.hero-btn {
  color: var(--white, #F6F5EF);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;

}

.hero-btn-start {
  display: block;
  padding: 14px 28px;
  border: none;
  border-radius: 60px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-start:focus,
.hero-btn-start:hover{
  background-color: #88B3B9;
}
.hero-btn-explore {
  display: block;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white, #F6F5EF);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-explore:focus,
.hero-btn-explore:hover{
    color: var(--light-green);
}
.hero-image-block {
  width: 335px;
  height: 427px;
  margin-top: 40px;
  padding: 20px;
  background-image: url(/img/hero-images/mob-background@1x-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-image-block {
    background-image: url(/img/hero-images/mob-background@2x-min.png);
}
}
@media only screen and (min-width: 768px) {
  .hero-image-block {
    margin-top: 64px;
    width: 426px;
    height: 598px;
    padding: 24px;
    background-image: url(/img/hero-images/desktop-backgroung@1x-min.png);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero-image-block {
        background-image: url(/img/hero-images/desktop-background@2x-min.png);
    }
  }    
}

.hero-clients-block {
}
.hero-clients-list {
  display: flex;

}
.persone-img {
  width: 48px;
  height: 48px;

}
.hero-person {
  position: relative;
  border-radius: 48px;
  border: 2px solid #93ABAE;

  }

.hero-first-person {
  z-index: 3;
}

.hero-second-person {
  right: 10px;
  z-index: 2;
}

.hero-third-person{
  right: 20px;
  z-index: 1;
}
.hero-clients-text {
  margin-top: 11px;
  color: #11131F;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.hero-man-block {
  
}
.man-sunglasses {
  top: 35px;
  right: -12px;
  border-radius: 24px;
  position: absolute;
  width: 133px;
}
.hero-yacht-block {
  margin-top: 52px;
  width: 287px;
}
.hero-yacht {
}
.hero-price-block {
  margin-top: 14px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.hero-price-num {
  color: #11131F;
font-size: 48px;
font-weight: 400;
line-height: 1.1;
letter-spacing: -2.16px;
text-transform: uppercase;
}
.hero-price-desc {
  color: #11131F;
font-size: 14px;
font-weight: 400;
line-height: 1.4;
letter-spacing: -0.63px;
}
@media only screen and (min-width: 768px) {
  .hero-text-block {
    max-width: 698px;
  }}
  @media only screen and (min-width: 768px) {
  .hero-text-title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }}
  @media only screen and (min-width: 768px) {
  .hero-text-desc {
    margin-top: 16px;
    width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }}
  @media only screen and (min-width: 768px) {
  .hero-title-color {
    font-style: italic;
    font-size: 60px;
    letter-spacing: -2.7px;
  }}
  @media only screen and (min-width: 768px) {
  .hero-btn {
    font-size: 18px;
    letter-spacing: -0.81px;
  }}
  @media only screen and (min-width: 768px) {
  .hero-btn-block {
    gap: 11px;
    margin-top: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-clients-block {
    padding: 0 8px;
  }
  .persone-img {
    width: 56px;
    height: 56px;
  }
  .hero-person {
    border-radius: 56px;
  }
  .hero-second-person {
    right: 12px;
  }
  .hero-third-person{
    right: 22px;
  }
  .man-sunglasses {
    top: 32px;
    right: -146px;
    width: 233px;
  }

}
@media only screen and (min-width: 768px) {
  .hero-yacht-block {
    margin-top: 111px;
    width: 378px;
  } 
}
@media only screen and (min-width: 768px) {
  
  .hero-price-block {
    padding: 0 8px;
    margin-top: 22px;
  }
  .hero-price-num {
  font-size: 60px;
  letter-spacing: -2.7px;
  }
  .hero-price-desc {
  font-size: 18px;
  letter-spacing: -0.81px;
  } 
}