/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-block.css');
@import url('./yahts-block.css');
@import url('./services-block.css');
@import url('./rent-block.css');
@import url('./reviews-block.css');
@import url('./footer.css');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,500&display=swap'); */


:root {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* color: #242424;
    background-color: rgba(255, 255, 255, 0.87); */

    color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-blue: #11131F;
    --light-green: #93ABAE;
    --linear-green: #BEC7C2, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    --white: #F6F5EF;
    --blue-2: #1F212D;

    --anim: 400ms ease-in;


}
body{
  background-color: var(--dark-blue);
  overflow-x: hidden;
}

